body{
    background: #b2e4ee;
}
div:hover{
     border-color: #2fd3f4;
 }
.main-divs-display{
    display: inline;
}
.center-margin{
    margin-left: auto;
    margin-right: auto;
}
.cetertext{
    text-align: center;
}


